<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>个人首页</title>
		<script src="../../js/vue.min.js"></script>
		<script src="../../js/common/init.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" href="../../font/iconfont.css" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<style type="text/css">
			html{
				font-size: 26.67vw;
			}
			html,body{
				width: 100%;
				height: 100%;
			}
			[v-cloak]{
				display: none;
			}
			#homePageVM{height: 100%;}
		</style>
	</head>
	<body class="bg-body mui-content">
		<div id="homePageVM" class="mui-scroll-wrapper" v-cloak>
			<div class="mui-scroll">
				<div class="homepageDiv">
					<div class="infoCard font-f">
						<a id="menu"  class="pull-right font-f mui-action-menu"><i class="icon iconfont icon-shezhi fonts20"></i></a><!--href="#cuozuo"-->
						<img :src="data.headimgurl" alt="头像" />
						<span v-if="data.nickName" class="hp-userName zjj1" v-cloak>{{data.nickName}}</span>
						<a id="qudenglu" v-else class="hp-userName zjj1 font-f">点击登录</a>
						<a id="modify_info" class="font-f fonts14">修改信息
							<span class="mui-icon mui-icon-arrowright fonts18"></span>
						</a>
					</div>
					<ul class="mui-table-view homepageUl">
					    <li class="mui-table-view-cell">
					        <a id="goRenzheng" class="mui-navigate-right">
					        	<img src="../../img/grzmt.png"/>个人自媒体
					        	<span v-if="data.media == '0'" class="pull-right fonts14 font-blue">
					        		点击去认证
					        	</span>
					        	<span id="review" v-if="data.media == '1'" class="pull-right fonts14 font-blue">
					        		审核中
					        	</span>
					        	<span id="unreview" v-if="data.media == '3'" class="pull-right fonts14 font-blue">
					        		审核失败
					        	</span>
					        	<span id="reviewOk" v-if="(data.media == '2')&&(zmtOk!=1)" class="pull-right fonts14 font-9">
					        		审核成功
					        	</span>
					        	<span id="zmtHome" v-if="(data.media == '2')&&(zmtOk==1)" class="pull-right fonts14 font-9">
					        		进入自媒体主页
					        	</span>
					        </a>
					    </li>
					</ul>
					<!--消息通知 /任务/积分-->
					<ul class="mui-table-view homepageUl">
					    <li class="mui-table-view-cell">
					        <a id="goMessage" class="mui-navigate-right">
					        	消息通知
					        	<span class="notice" v-if="redInfo!=0"></span>
					        </a>
					    </li>
					</ul>
					<!--反馈/客服-->
					<ul class="mui-table-view homepageUl">
					    <li class="mui-table-view-cell">
					        <a id="goFeedback" class="mui-navigate-right">
					        	意见反馈
					        </a>
					    </li>
					    <li class="mui-table-view-cell">
					        <a class="mui-navigate-right" :href="'tel:'+data.mobile" target="_parent">
					        	联系客服
					        	<span class="pull-right fonts14 font-9">13345122570
					        		<!--{{data.mobile}}-->
					        	</span>
					        </a>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="mui-off-canvas-backdrop"></div>
	</body>
	<script src="../../js/ctrl/mine/homePage.js"></script>
</html>
